body{
    color: black;
    background-color: white	;
}
h1,h2,h3,h4,h5,h6 {
    color: lightblue;
}
nav{
    color: darkcyan;
    background-color: darkgray;
}
.comando{
    color: darkgrey;
}
.texto{
    color: blue;
}
.local{
    color: green;
}
.remote{
    color: cadetblue;
}