body{
    color: white;
    background-color: black;
}
h1,h2,h3,h4,h5,h6 {
    color: lightblue;
}
nav{
    color: darkcyan;
    background-color: darkgray;
}
.comando{
    color: lightgreen;
}
.texto{
    color: lightsalmon;
}